body {
	margin: 0;
	background: url('https://lh3.ggpht.com/p/AF1QipOvyu00OcCeEwn5tBoMXjjdwZ8rND0ybAX44M_6=s1920') no-repeat center center fixed;
	background-size: cover;
}

.wrapper {
	border-radius: 16px;
	border: 1px solid rgb(13, 102, 208);
	height: 900px;
	width: 90%;
	overflow: hidden;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.login-panel {
	background: url('https://lh3.ggpht.com/p/AF1QipOvyu00OcCeEwn5tBoMXjjdwZ8rND0ybAX44M_6=s1920') no-repeat center center fixed;
	background-size: cover;
	overflow: hidden;
	filter: contrast(25%) brightness(185%) blur(14px);
	position: absolute;
	height: 1000px;
	top: -50px;
	left: -50px;
	right: -50px;
	bottom: -50px;
	z-index: -1;
}

.hero {
	width: 100%;
	height: 100px;
	background-color: rgb(13, 102, 208);
}

.container {
	width: 400px;
	margin: 0 auto;
	padding: 0;
}

.spectrum-Toast {
	width: 100%;
	border-radius: 0;
}

.spectrum-Textfield:nth-child(1) {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.spectrum-Textfield:nth-child(2) {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.credentials {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.credentials > * {
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 40px;
}

.container > .spectrum-Button {
	float: right;
	margin-top: 15px;
	margin-right: 50px;
}

.spectrum-Breadcrumbs-itemLink {
	color: #fff !important;
}

.user-Account {
	margin-right: 10px;
	margin-left: auto;
}

.user-Account > svg {
	fill: #fff;
}

.panel {
	height: 900px;
	width: 250px;
	background: none;
	float: left;
}
.content {
	height: 850px;
	width: calc(100% - 250px);
	background: rgb(255, 255, 255);
	float: right;
	overflow: auto;
}
#full-name {
	text-align: center;
	padding-top: 20px;
}

#student-info {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#overview {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.spectrum-Breadcrumbs-itemSeparator {
	color: rgba(255, 255, 255) !important;
}

.cheque {
	margin-left: auto;
	margin-right: auto;
	margin-top: 160px;
	padding: 10px;
	width: 800px;
	height: 500px;
	border: 1px solid black;
}
.cheque p {
	font-size: 12px;
	font-family: "Source Sans Pro";
	color: black;
}
.cheque .left {
	padding: 0;
	float: left;
	width: 46%;
	height: 500px;
}
.cheque .right {
	padding: 0;
	float: right;
	width: 46%;
	height: 500px;
}
.cheque .box-lg {
	display: block;
	width: 96.5%;
	height: 80px;
	border: 1px solid black;
	padding: 2px;
}
.cheque .box-s {
	width: 60%;
	height: 40px;
	border: 1px solid black;
	padding: 2px;
}
.cheque .box-xs {
	width: 14%;
	height: 40px;
	border: 1px solid black;
	padding: 2px;
}