
<!-- /* POLOŽENI ISPITI; DODATI SORTIRANJE I SELEKCIJU
		<table class="spectrum-Table">
			<thead class="spectrum-Table-head">
			<tr>
				<th class="spectrum-Table-headCell">Broj predmeta</th>
				<th class="spectrum-Table-headCell">Šifra predmeta</th>
				<th class="spectrum-Table-headCell">Predmet</th>
				<th class="spectrum-Table-headCell">GS</th>
				<th class="spectrum-Table-headCell">TP</th>
				<th class="spectrum-Table-headCell">ŠG</th>
				<th class="spectrum-Table-headCell">Ispitni rok</th>
				<th class="spectrum-Table-headCell">Datum</th>
				<th class="spectrum-Table-headCell">Ocena</th>
				<th class="spectrum-Table-headCell">ESPB</th>
				<th class="spectrum-Table-headCell">Ispitivač</th>
			</tr>
			</thead>
			<tbody class="spectrum-Table-body">
			<tr class="spectrum-Table-row">
				<td class="spectrum-Table-cell spectrum-Table-cell--divider">1320</td>
				<td class="spectrum-Table-cell">M144</td>
				<td class="spectrum-Table-cell"><b>Engleski jezik B1</b></td>
				<td class="spectrum-Table-cell">I</td>
				<td class="spectrum-Table-cell">I</td>
				<td class="spectrum-Table-cell">2018/2019</td>
				<td class="spectrum-Table-cell">JANUARSKI</td>
				<td class="spectrum-Table-cell">21.01.2019</td>
				<td class="spectrum-Table-cell">10(deset)</td>
				<td class="spectrum-Table-cell">5.00</td>
				<td class="spectrum-Table-cell">Vukićević-Đorđević Ljiljana
				</td>
			</tr>
			<tr class="spectrum-Table-row">
				<td class="spectrum-Table-cell spectrum-Table-cell--divider">1111</td>
				<td class="spectrum-Table-cell">M152</td>
				<td class="spectrum-Table-cell"><b>Teorijske osnove informatike 1</b></td>
				<td class="spectrum-Table-cell"></td>
				<td class="spectrum-Table-cell"></td>
				<td class="spectrum-Table-cell">2018/2019</td>
				<td class="spectrum-Table-cell">JANUARSKI</td>
				<td class="spectrum-Table-cell">28.01.2019</td>
				<td class="spectrum-Table-cell">10(deset)</td>
				<td class="spectrum-Table-cell"></td>
				<td class="spectrum-Table-cell">Marinković Silvana
				</td>
			</tr>
			<tr class="spectrum-Table-row">
				<td class="spectrum-Table-cell spectrum-Table-cell--divider">1113</td>
				<td class="spectrum-Table-cell">M154</td>
				<td class="spectrum-Table-cell"><b>Računarski sistemi</b></td>
				<td class="spectrum-Table-cell"></td>
				<td class="spectrum-Table-cell"></td>
				<td class="spectrum-Table-cell">2018/2019</td>
				<td class="spectrum-Table-cell">JANUARSKI</td>
				<td class="spectrum-Table-cell">31.01.2019</td>
				<td class="spectrum-Table-cell">8(osam)</td>
				<td class="spectrum-Table-cell"></td>
				<td class="spectrum-Table-cell">Simić Višnja
				</td>
			</tr>
			<tr class="spectrum-Table-row">
				<td class="spectrum-Table-cell spectrum-Table-cell--divider">1370</td>
				<td class="spectrum-Table-cell">M184</td>
				<td class="spectrum-Table-cell"><b>Matematika 1</b></td>
				<td class="spectrum-Table-cell"></td>
				<td class="spectrum-Table-cell"></td>
				<td class="spectrum-Table-cell">2018/2019</td>
				<td class="spectrum-Table-cell">JANUARSKI</td>
				<td class="spectrum-Table-cell">06.02.2019</td>
				<td class="spectrum-Table-cell">10(deset)</td>
				<td class="spectrum-Table-cell"></td>
				<td class="spectrum-Table-cell">Petrović-Torgašev Miroslava
				</td>
			</tr>
			<tr class="spectrum-Table-row">
				<td class="spectrum-Table-cell spectrum-Table-cell--divider">1400</td>
				<td class="spectrum-Table-cell">M151</td>
				<td class="spectrum-Table-cell"><b>Osnovi programiranja</b></td>
				<td class="spectrum-Table-cell"></td>
				<td class="spectrum-Table-cell"></td>
				<td class="spectrum-Table-cell">2018/2019</td>
				<td class="spectrum-Table-cell">JANUARSKI</td>
				<td class="spectrum-Table-cell">11.02.2019</td>
				<td class="spectrum-Table-cell">9(devet)</td>
				<td class="spectrum-Table-cell"></td>
				<td class="spectrum-Table-cell">Stojanović Boban
				</td>
			</tr>
			<tr class="spectrum-Table-row">
				<td class="spectrum-Table-cell spectrum-Table-cell--divider">1401</td>
				<td class="spectrum-Table-cell">MI103</td>
				<td class="spectrum-Table-cell"><b>Praktikum iz programiranja 1</b></td>
				<td class="spectrum-Table-cell"></td>
				<td class="spectrum-Table-cell"></td>
				<td class="spectrum-Table-cell">2018/2019</td>
				<td class="spectrum-Table-cell">JANUARSKI</td>
				<td class="spectrum-Table-cell">12.02.2019</td>
				<td class="spectrum-Table-cell">10(deset)</td>
				<td class="spectrum-Table-cell"></td>
				<td class="spectrum-Table-cell">Kaplarević-Mališić Ana
				</td>
			</tr>
			<tr class="spectrum-Table-row">
				<td class="spectrum-Table-cell spectrum-Table-cell--divider">1114</td>
				<td class="spectrum-Table-cell">M155</td>
				<td class="spectrum-Table-cell"><b>Strukture podataka i algoritmi 1</b></td>
				<td class="spectrum-Table-cell"></td>
				<td class="spectrum-Table-cell"></td>
				<td class="spectrum-Table-cell">2018/2019</td>
				<td class="spectrum-Table-cell">JUNSKI</td>
				<td class="spectrum-Table-cell">05.07.2019</td>
				<td class="spectrum-Table-cell">8(osam)</td>
				<td class="spectrum-Table-cell"></td>
				<td class="spectrum-Table-cell">Stojanović Tatjana
				</td>
			</tr>
			<tr class="spectrum-Table-row">
				<td class="spectrum-Table-cell spectrum-Table-cell--divider">1404</td>
				<td class="spectrum-Table-cell">MI106</td>
				<td class="spectrum-Table-cell"><b>Praktikum iz programiranja 3</b></td>
				<td class="spectrum-Table-cell">I</td>
				<td class="spectrum-Table-cell">I</td>
				<td class="spectrum-Table-cell">2018/2019</td>
				<td class="spectrum-Table-cell">AVGUSTOVSKI</td>
				<td class="spectrum-Table-cell">04.09.2019</td>
				<td class="spectrum-Table-cell">7(sedam)</td>
				<td class="spectrum-Table-cell">4.00</td>
				<td class="spectrum-Table-cell">Simić Višnja
				</td>
			</tr>
			<tr class="spectrum-Table-row">
				<td class="spectrum-Table-cell spectrum-Table-cell--divider">1115</td>
				<td class="spectrum-Table-cell">M157</td>
				<td class="spectrum-Table-cell"><b>Teorijske osnove informatike 2</b></td>
				<td class="spectrum-Table-cell"></td>
				<td class="spectrum-Table-cell"></td>
				<td class="spectrum-Table-cell">2018/2019</td>
				<td class="spectrum-Table-cell">SEPTEMBARSKI</td>
				<td class="spectrum-Table-cell">23.09.2019</td>
				<td class="spectrum-Table-cell">6(šest)</td>
				<td class="spectrum-Table-cell"></td>
				<td class="spectrum-Table-cell">Borovićanin Bojana
				</td>
			</tr>
			<tr class="spectrum-Table-row">
				<td class="spectrum-Table-cell spectrum-Table-cell--divider">1117</td>
				<td class="spectrum-Table-cell">M158</td>
				<td class="spectrum-Table-cell"><b>Arhitektura računara 1</b></td>
				<td class="spectrum-Table-cell"></td>
				<td class="spectrum-Table-cell"></td>
				<td class="spectrum-Table-cell">2018/2019</td>
				<td class="spectrum-Table-cell">SEPTEMBARSKI</td>
				<td class="spectrum-Table-cell">24.09.2019</td>
				<td class="spectrum-Table-cell">6(šest)</td>
				<td class="spectrum-Table-cell"></td>
				<td class="spectrum-Table-cell">Peulić Aleksandar
				</td>
			</tr>
			<tr class="spectrum-Table-row">
				<td class="spectrum-Table-cell spectrum-Table-cell--divider">1582</td>
				<td class="spectrum-Table-cell">M160</td>
				<td class="spectrum-Table-cell"><b>Strukture podataka i algoritmi 2</b></td>
				<td class="spectrum-Table-cell">II</td>
				<td class="spectrum-Table-cell">O</td>
				<td class="spectrum-Table-cell">2019/2020</td>
				<td class="spectrum-Table-cell">FEBRUARSKI</td>
				<td class="spectrum-Table-cell">19.02.2020</td>
				<td class="spectrum-Table-cell">7(sedam)</td>
				<td class="spectrum-Table-cell">6.00</td>
				<td class="spectrum-Table-cell">Stojanović Boban
				</td>
			</tr>
			</tbody>
		</table> */
		-->