<!DOCTYPE html>
<html class=""> <!--spectrum spectrum--lightest spectrum--medium-->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/spectrum-lightest.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="wrapper">
    <div class="container">
        <div class="logo">
            <img src="https://imi.pmf.kg.ac.rs/kongres/assets/img/pmf.png">
            <h1 class="spectrum-Heading">Prirodno-matematički fakultet</h1>
        </div>
        <div class="login-panel"><div>
    </div>
</div>
</body>
</html>